#profil-pic{
    border-radius: 50%;
    width: calc(100vw - 80%);
    align-self: center;
    margin-top: 3vw;
}

header{
    height: 100vh;
    color: white;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_text:nth-child(1) {
    line-height: 0.8;
}

@media (max-width:640px) {
    #profil-pic{
        width: 45%;
    }
}