#profil-pic{
    border-radius: 50%;
    width: 20vw;
    align-self: center;
    margin-top: 3vw;
}

header{
    height: 100vh;
    color: white;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
}

.header_text:nth-child(1) {
    line-height: 0.8;
}

