body{
  padding: 0;
  margin: 0;
  background-color: #201529;
  font-family: "Imprima";
}

#triangle-top {
  position: absolute;
  top: 0;
}

#triangle-bot {
  position: absolute;
  -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
  bottom: 0;
  right: 0;
}