#contact_container {
    width: 100vw;
    background-color: #090314;
    
}
#contact_container h3 {
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 0.8em;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #211529;
    padding: 30px;
    width: 30vw;
    border-radius: 20px;
    margin: 0 auto;
   
   
}

#contact_container form input, textarea{
    width: 85%; 
    padding: 10px;
    margin: 15px;
    background-color: #090314;
    border: none;
    border-radius: 10px;
    font-family: "Imprima";
}

#form button{
    padding: 5px;
    border-radius: 5px;
}


@media (max-width:640px) {
    #form{
        width: 50vw;
    }
}